<div class="row">
    <div class="col-12 pb-4 text-center text-md-start text-print-start">
        <h3>{{ traduction?.languages }}</h3>
    </div>
</div>
<div class="row justify-content-center page-break" *ngFor="let language of languages">
    <div class="col-10 col-sm-8 col-md-12 col-print-12 pb-4">
        {{ language.name }}<br/>
        <div class="row border-start ms-2">
            <div class="col-12 ps-3">
                {{ traduction?.spoken }}<br/>
                <app-rating [rate]="language.spoken" [config]="config"></app-rating><br/>
            </div>
        </div>
        <div class="row border-start ms-2">
            <div class="col-12 ps-3">
                {{ traduction?.written }}<br/>
                <app-rating [rate]="language.written" [config]="config"></app-rating><br/>
            </div>
        </div>
    </div>
</div>