<div class="container-fluid">
    <div class="row border-bottom" 
        [style.background-color]="config?.headerColor"
        [style.border-color]="config?.headerLineColor +' !important'">
        <div class="col-12 pt-2 pt-print-0">
        <div class="container-md">
            <app-general [general]="resume?.general!" [config]="config"></app-general>
        </div>
        </div>
    </div>
    </div>

    <div class="container-md mt-5 pt-5">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-print-3 order-2 order-md-1">
                <app-skills [skills]="resume?.skills!" [traduction]="resume?.traduction!" [config]="config"></app-skills>
                <app-languages [languages]="resume?.languages!" [traduction]="resume?.traduction!" [config]="config"></app-languages>
                <app-misc [misc]="resume?.misc!" [traduction]="resume?.traduction!" [config]="config"></app-misc>
            </div>
            <div class="col-md-9 col-lg-10 col-print-9 order-1 order-md-2">
                <app-about-me [general]="resume?.general!" [traduction]="resume?.traduction!" [config]="config"></app-about-me>
                <app-experiences [experiences]="resume?.experiences!" [traduction]="resume?.traduction!" [config]="config"></app-experiences>
                <app-educations [educations]="resume?.educations!" [traduction]="resume?.traduction!"></app-educations>
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5 d-print-none">
    <div class="row border-top bottom-height" 
        [style.background-color]="config?.headerColor"
        [style.border-color]="config?.headerLineColor +' !important'">
        <div class="col-12 pt-2 pt-print-0">
        <div class="container-md">
            <app-footer></app-footer>
        </div>
        </div>
    </div>
</div>  

  