.photo {
    height: 200px;
    border: 15px solid white;
    bottom: -60px;
    position: relative;
    
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
}

.icon-btn {
    font-size: 26px;
}