<div class="row">
    <div class="col-12 pb-4">
        <h3>{{ traduction?.skills }}</h3>
    </div>
</div>
<div class="row justify-content-center page-break" *ngFor="let skill of skills">
    <div class="col-12 pb-4">
        {{ skill.name }}<br/>
        <app-rating [rate]="skill.grade" [config]="config"></app-rating>
        <div *ngFor="let subSkill of skill.subSkill" class="row border-start ms-2">
            <div class="col-12 ps-3">
                {{ subSkill.name }}<br/>
                <app-rating [rate]="subSkill.grade" [config]="config"></app-rating><br/>
            </div>
        </div>

    </div>
</div>
