/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Thin.ttf') format("opentype");
}


html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 14px;
}

button, a {
    text-decoration: none !important;
}

@media (min-width: 576px) {
    .border-sm-none {
        border: none !important;
    }
}

@media print {
    @page {
        size: A4;   /* auto is the initial value */
        margin: 30px 0px 0px 0px;  /* this affects the margin in the printer settings */
    }

    .pt-print-0 {
        padding-top: 0px !important;
    }

    .pe-print-2 {
        padding-right: .5rem!important;
    }

    .container {
        width: 100%;
    }

    .container-fluid {
        margin-top: -60px;
    }

    .text-print-start {
        text-align: left !important;
    }

    .page-break {
        break-inside: avoid;
    }

    body {
        color: #000 !important;
    }

    .col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12 {
        flex: 0 0 auto;
    }

    .col-print-12 {
        width: 100%;
    }

    .col-print-11 {
    width: 91.66666667%;
    }

    .col-print-10 {
    width: 83.33333333%;
    }

    .col-print-9 {
    width: 75%;
    }

    .col-print-8 {
    width: 66.66666667%;
    }

    .col-print-7 {
    width: 58.33333333%;
    }

    .col-print-6 {
    width: 50%;
    }

    .col-print-5 {
    width: 41.66666667%;
    }

    .col-print-4 {
    width: 33.33333333%;
    }

    .col-print-3 {
    width: 25%;
    }

    .col-print-2 {
    width: 16.66666667%;
    }

    .col-print-1 {
    width: 8.33333333%;
    }

    .order-print-1 {
        order: 1!important;
    }

    .order-print-2 {
        order: 2!important;
    }

}