/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Thin.ttf') format("opentype");
}


html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

button, a {
    text-decoration: none !important;
}

@media (min-width: 576px) {
    .border-sm-none {
        border: none !important;
    }
}

@media print {
    @page {
        size: A4;   /* auto is the initial value */
        margin: 10px;  /* this affects the margin in the printer settings */
    }

    .pt-print-0 {
        padding-top: 0px !important;
    }

    .container-xxl {
        width: 100%;
    }

    .container-fluid {
        margin-top: -40px;
    }

    .text-print-start {
        text-align: left !important;
    }

    .page-break {
        break-inside: avoid;
    }

    body {
        color: #000 !important;
    }

}